{% extends "citas_mazda_col_pro/carousel/slide.html" %}

{% block slide_title %}
INFORMACIÓN <span class="d-none d-md-inline">DE LA PERSONA QUE ASISTIRÁ A LA CITA</span>
{% endblock %}

{% block slide_subtitle %}
REVISE Y DE SER NECESARIO COMPLETE SU INFORMACIÓN
{% endblock %}

{% block slide_content %}
<label class="form-label">Nombres y apellidos</label>
<div class="row align-self-end g-3">
  <!-- Client's first and last name -->
  <div class="col-6">
    <input name="client_first_name" type="text" class="form-control" required id="client_first_name" placeholder="Nombres" data-name="nombres">
  </div>
  <div class="col-6">
    <input name="client_last_name" type="text" class="form-control" required id="client_last_name" placeholder="Apellidos" data-name="apellidos">
  </div>
</div>

<label class="form-label mt-4">Tipo y numero de documento</label>
<div class="row align-self-end g-3">
  <!-- Client's documents -->
  <div class="col-6">
    <select name="client_document_type" class="form-control" required id="client_document_type" data-name="tipo de documento">
      <option value="" disabled selected hidden>Tipo</option>
      {% for document_type in document_types %}
      <option value="{{ document_type.id }}">{{ document_type.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-6">
    <input name="client_document_number" type="text" class="form-control" required id="client_document_number" placeholder="N.° de documento"
      data-name="numero de documento">
  </div>
</div>

<div class="row align-self-end g-3 mt-4">
  <!-- Client's email and phone -->
  <div class="col">
    <label for="client_email" class="form-label">E-mail</label>
    <input name="client_email" type="email" class="form-control" required id="client_email" placeholder="E-mail" data-name="e-mail">
  </div>
</div>

<div class="row align-self-end g-3 mt-4">
  <div class="col-6">
    <label for="client_phone_country_code" class="form-label">Código de país</label>
    <select name="client_phone_country_code" id="client_phone_country_code" class="form-control" required>
      <option value="+57" selected>Colombia (+57)</option>
      <option value="+507">Panama (+507)</option>
      <option value="+58">Venezuela (+58)</option>
      <option value="+593">Ecuador (+593)</option>
      <option value="+51">Perú (+51)</option>
      <option value="+55">Brasil (+55)</option>
      <option value="+52">México (+52)</option>
      <option value="+1">Estados Unidos (+1)</option>
    </select>
  </div>
  <div class="col-6">
    <label for="client_phone_number" class="form-label">Celular</label>
    <input name="client_phone_number" type="tel" class="form-control" required id="client_phone_number" placeholder="N.° Celular"
      data-name="numero de celular" maxlength="10">
  </div>
</div>

{% endblock %}
