{% extends 'seguimientolite_mazda_col/base.html' %}
{% block content %}

{% load humanize %}
{% load static %}
{% load mathfilters %}

<div class="container-fluid mx-auto">
  <!--TARJETA DE INFORMACIÓN-->
  <div class="card shadow mt-4 mx-auto">
    <h5 class="card-header">
      <a href="{% url 'cotizaciones' %}" type="button" class="btn btn-light shadow-sm my-auto mr-3">
        <i class="fas fa-chevron-left fa-lg"></i>
        Atrás
      </a>
      Información de la Orden
    </h5>
    <div class="card-body">
      <h5>Orden de Servicio: {{orden.no_orden}}</h5>
      <h6>Placas: {{orden.placas}}</h6>
      <h6>VIN: {{orden.vin}}</h6>
      <h6>Cliente: {{orden.cliente}}</h6>
      <h6>Vehículo: {{orden.vehiculo}}</h6>
      <h6>Asesor: {{orden.asesor|lower|title}}</h6>
      {% for tecnico in tecnicos %} {% if tecnico.id_empleado == orden.tecnico %}
      <h6>Técnico: {{tecnico.nombre_empleado|lower|title}}</h6>
      {% endif %} {% endfor %}
      <h6>Fecha de Elaboración Técnica: {{fin_tecnico}}</h6>
      <button class="btn btn-primary my-3 shadow galeria_evidencias">
        <i class="fas fa-photo-video fa-lg"></i>
        Registro fotográfico
      </button>
      <a class="btn btn-primary shadow-sm my-4" href="{% url 'pdf_multipuntos' orden.no_orden %}">
        <i class="fas fa-file-pdf fa-lg"></i>
        Formato 5 - 5
      </a>
    </div>
  </div>

  <div class="card shadow my-4 mx-auto tarjeta-inspeccion">
    <h5 class="card-header">
      Inspección
    </h5>

    {% for item in items_tecnico %}
    <table class="item table table-stripped table-hover table-responsive-md border shadow-sm mb-4 mx-auto"
      data-id="{{item.id}}">
      <tr class="bg-light text-dark">
        <td class="text-left" colspan="3">

          <h6>
            <!--Estado del item-->
            {% if item.estado == 'Inmediato' %}
            <span class="badge badge-pill badge-danger text-light ml-0">Inmediato</span>
            {% endif %}
            {% if item.estado == 'Recomendado' %}
            <span class="badge badge-pill badge-warning text-light ml-0">Recomendado</span>
            {% endif %}
            {% if item.estado == 'Corregido' %}
            <span class="badge badge-pill badge-primary ml-0">Corregido</span>
            {% endif %}
            <!--Nombre del item-->
            <strong>{{item.item.familia}} - {{item.item.descripcion}}</strong>
          </h6>

        </td>
        <td class="text-left" colspan="3">
          <!--Comentarios del item-->
          <p>{{item.comentarios}}</p>
        </td>
        <td class="text-right">
          <!--Añadir repuesto-->
          <button class="nueva-refaccion btn btn-outline-primary btn-sm shadow-sm mx-auto">
            <i class="fas fa-plus fa-lg"></i>
            Añadir Repuesto
          </button>
        </td>
      </tr>

      <tr class="bg-light text-dark">
        <td class="text-center"><strong></strong></td>
        <td class="text-center"><strong>Repuesto</strong></td>
        <td class="text-center"><strong>Costo Repuestos</strong></td>
        <td class="text-center"><strong>Costo Mano de Obra</strong></td>
        <td class="text-center"><strong>Subtotal</strong></td>
        <td class="text-center"><strong>% IVA</strong></td>
        <td class="text-center"><strong>Total</strong></td>

      </tr>

      {% for refaccion in refacciones %}
      {% if refaccion.item.id == item.id %}
      <tr class="refaccion text-center" data-id="{{ refaccion.id }}">
        <td class="text-center" style="width: 7%;">
          <button class="eliminar-primer-refaccion btn btn-outline-danger btn-sm shadow-sm">
            <i class="fas fa-minus-circle fa-lg"></i>
            Remover
          </button>
        </td>
        <td class="text-center">
          <input class="refaccion-repuesto form-control" type="text" value="{{ refaccion.repuesto }}"></input>
        </td>
        <td class="text-center">
          <input class="refaccion-costo-repuesto form-control" type="number" value="{{ refaccion.costo_repuesto }}"
            min="0"></input>
        </td>
        <td class="text-center">
          <input class="refaccion-costo-mano-obra form-control" type="number" value="{{ refaccion.costo_mano_obra }}"
            min="0"></input>
        </td>
        <td class="text-center">
          <input class="refaccion-subtotal form-control" type="number" value="{{ refaccion.subtotal }}" min="0"
            disabled></input>
        </td>
        <td class="text-center">
          <input class="refaccion-iva form-control" type="number" value="19" min="0" disabled></input>
        </td>
        <td class="text-center">
          <input class="refaccion-total form-control" type="number" value="{{ refaccion.total }}" min="0"
            disabled></input>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    {% endfor %}

    <div class="text-center mt-3 mb-4">
      <button type="button" class="guardar-inspeccion btn btn-success shadow">
        <i class="far fa-save fa-lg"></i>
        Guardar inspección
      </button>
    </div>

  </div>
</div>

<!--Guardar inspección-->
<script>
  $(".guardar-inspeccion").click(function () {
    let tarjeta_inspeccion = document.querySelector(".tarjeta-inspeccion")
    let valid_form = validacion(tarjeta_inspeccion);

    if (valid_form == true) {
      Swal.fire({
        title: "¿Desea guardar la cotización?",
        showCancelButton: true,
        cancelButtonText: "Cancelar",
        confirmButtonText: "Confirmar",
        reverseButtons: true,
        buttonsStyling: false,
        focusConfirm: false,
        focusCancel: false,
        customClass: {
          popup: "card bg-light rounded",
          confirmButton: "btn btn-success mx-3 shadow rounded",
          closeButton: "btn btn-light mx-3 shadow rounded",
          denyButton: "btn btn-light mx-3 shadow rounded",
          cancelButton: "btn btn-light mx-3 shadow rounded",
        }
      }).then(result => {
        if (result.value == true) {

          let data = {};
          data.refacciones = [];
          data.guardar_inspeccion = true;

          $(".refaccion").each(function (index, refaccion) {
            let refaccion_data = {};

            refaccion_data.id = $(refaccion).data("id");
            refaccion_data.item_id = $(refaccion).closest(".item").data("id");
            refaccion_data.repuesto = $(refaccion).find(".refaccion-repuesto").val();
            refaccion_data.costo_repuesto = $(refaccion).find(".refaccion-costo-repuesto").val();
            refaccion_data.costo_mano_obra = $(refaccion).find(".refaccion-costo-mano-obra").val();
            refaccion_data.subtotal = $(refaccion).find(".refaccion-subtotal").val();
            refaccion_data.iva = $(refaccion).find(".refaccion-iva").val();
            refaccion_data.total = $(refaccion).find(".refaccion-total").val();
            refaccion_data.monto_iva = (Number(refaccion_data.total) - Number(refaccion_data.subtotal)).toFixed(2);

            data.refacciones.push(refaccion_data);
          })

          data.refacciones = JSON.stringify(data.refacciones);

          console.log(data);

          $.ajax({
            type: "post",
            data: data,
            cache: false,
            headers: {
              "X-CSRFToken": Cookies.get("csrftoken")
            },
            success: function () {
              Swal.fire({
                title: "Cotización Guardada",
                confirmButtonText: "Cerrar",
                buttonsStyling: false,
                customClass: {
                  popup: "card bg-light rounded",
                  confirmButton: "btn btn-light mx-3 shadow rounded",
                },
                didClose: function () {
                  location.reload();
                }
              })
            },
            error: function (error) {
              Swal.fire("Ha ocurrido un error", error);
            }
          });
        }
      });
    } else {
      Swal.fire(`Por favor llene todos los campos en el item ${valid_form}`);
    }
  });
</script>

<!--Añadir/Retirar Refacciones-->
<script>
  $(".nueva-refaccion").click(function () {
    let item = $(this).parents("tbody");
    const nueva_refaccion = `
    <tr class="refaccion text-center">
        <td class="text-center" style="width: 7%;">
          <button class="eliminar-refaccion btn btn-outline-danger btn-sm shadow-sm">
            <i class="fas fa-minus-circle fa-lg"></i>
            Remover
          </button>
        </td>
        <td class="text-center">
          <input class="refaccion-repuesto form-control" type="text"></input>
        </td>
        <td class="text-center">
          <input class="refaccion-costo-repuesto form-control" type="number" value="0" min="0"></input>
        </td>
        <td class="text-center">
          <input class="refaccion-costo-mano-obra form-control" type="number" value="0" min="0"></input>
        </td>
        <td class="text-center">
          <input class="refaccion-subtotal form-control" type="number" value="0" min="0" disabled></input>
        </td>
        <td class="text-center">
          <input class="refaccion-iva form-control" type="number" value="19" min="0"></input>
        </td>
        <td class="text-center">
          <input class="refaccion-total form-control" type="number" value="0" min="0" disabled></input>
        </td>
      </tr>
    `
    $(item).append(nueva_refaccion);
  })

  // Borrar la primer refaccion guardada
  $(document).on("click", ".eliminar-refaccion", function () {
    Swal.fire({
      title: "¿Desea remover el repuesto?",
      text: "Esta acción no se puede deshacer",
      showCancelButton: true,
      cancelButtonText: "Cancelar",
      confirmButtonText: "Confirmar",
      reverseButtons: true,
      buttonsStyling: false,
      focusConfirm: false,
      focusCancel: false,
      customClass: {
        popup: "card bg-light rounded",
        confirmButton: "btn btn-danger mx-3 shadow rounded",
        closeButton: "btn btn-light mx-3 shadow rounded",
        denyButton: "btn btn-light mx-3 shadow rounded",
        cancelButton: "btn btn-light mx-3 shadow rounded",
      }
    }).then(result => {
      if (result.value == true) {
        let boton = $(this);
        let refaccion = $(this).parents(".refaccion");
        try {
          let data = {};
          data.refaccion_id = refaccion.data("id");
          data.borrado_refaccion = true;

          if (data.refaccion_id) {
            console.log(data)
            $.ajax({
              type: "post",
              data: data,
              cache: false,
              headers: {
                "X-CSRFToken": Cookies.get('csrftoken')
              }
            });
          }
        } catch (error) {
          console.log(error);
        }
        $(refaccion).remove();
      }
    })
  })
</script>

<!--Subtotales-->
<script>
  function calcular_totales() {
    $(".refaccion").each(function (index, refaccion) {
      let costo_repuesto = $(refaccion).find(".refaccion-costo-repuesto").val();
      let costo_mano_obra = $(refaccion).find(".refaccion-costo-mano-obra").val();
      let subtotal = Number(costo_repuesto) + Number(costo_mano_obra);

      let iva = $(refaccion).find(".refaccion-iva").val();
      let total = subtotal + (subtotal * iva / 100);

      $(refaccion).find(".refaccion-subtotal").val(subtotal);
      $(refaccion).find(".refaccion-total").val(total);
    })
  }

  $(document).on("keyup", ".refaccion-costo-repuesto, .refaccion-costo-mano-obra, .refaccion-iva", function () {
    calcular_totales();
  })
  calcular_totales();
</script>
{% endblock %}
