{% extends 'seguimientolite_mazda_col/base.html' %}

{% load static %}
{% load svg_functions %}

{% block tecnico-head %}
<style>
  .familia-scrollspy {
    display: none !important;
  }

  .familia-scrollspy.active {
    display: inline !important;
    background-color: #505B78 !important;
  }

  div.line {
    display: inline-block;
    border-top: 1px solid black;
    width: 2em;
  }

  .custom-radio .custom-control-input:checked~.custom-control-label.green::after,
  .custom-radio .custom-control-input~.custom-control-label.green::after {
    background-image: url(/static/seguimientolite_mazda_col/img/b.png);
    background-size: 23px;
  }

  .custom-radio .custom-control-input:checked~.custom-control-label.yellow::after,
  .custom-radio .custom-control-input~.custom-control-label.yellow::after {
    background-image: url(/static/seguimientolite_mazda_col/img/rp.png);
    background-size: 23px;
  }

  .custom-radio .custom-control-input:checked~.custom-control-label.red::after,
  .custom-radio .custom-control-input~.custom-control-label.red::after {
    background-image: url(/static/seguimientolite_mazda_col/img/ri.png);
    background-size: 23px;
  }

  .custom-radio .custom-control-input:checked~.custom-control-label.blue::after,
  .custom-radio .custom-control-input~.custom-control-label.blue::after {
    background-image: url(/static/seguimientolite_mazda_col/img/c.png);
    background-size: 23px;
  }

</style>

<style>
  :root {
    --tracker-color: black;
  }

  .mazda-range {
    --thumb-color: #919191;
    --thumb-behind-color: #919191;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--tracker-color);
    overflow: hidden;
  }

  input[type="range"]::-webkit-slider-thumb {
    height: 25px;
    width: 10%;
    cursor: pointer;
    -webkit-appearance: none;
    border-bottom: 1px solid var(--thumb-color);
    box-shadow: 0 8px 6px -6px blue;
    box-shadow: -800px 0 0 800px var(--thumb-color);
    background: var(--thumb-color);
    border-radius: 10px !important;
  }

  datalist {
    display: flex;
    justify-content: space-between;
  }

  datalist option {
    position: relative;
    background: white;
    top: 27px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-height: 27px;
  }

  datalist option:first-of-type {
    visibility: hidden;
  }

  datalist option:last-of-type {
    border-right: 0;
  }

</style>
{% endblock %}

<!-- NAVBAR -->
{% block navbar %}
{% endblock%}

{% block content %}
<div class="container-fluid mx-auto my-2">

  <div class="row">
    <div class="col-md-4">
      <dIV class="row">
        <div class="col col-lg-12 align-self-center text-center px-3 py-3">
          <div class="card border-0" style="background-color: transparent !important;">
            <div class="card-body text-center">
              <img src="{% static 'seguimientolite_mazda_col/img/logos/vardi.png' %}" class="img-fluid"
                style="max-width: 8rem !important;">
            </div>
          </div>
        </div>
        <div class="col col-lg-12 text-center px-3 py-3">
          <div class="card shadow" style="background-color: #DEE1E8 !important;">
            <div class="card-body py-1 text-left">
              <p class="my-1" style="font-size: 0.7rem !important;">Cliente: {{info.cliente}}</p>
              <p class="my-1" style="font-size: 0.7rem !important;">Vehículo: {{info.vehiculo}}</p>
              <p class="my-1" style="font-size: 0.7rem !important;">Placa: {{info.placas}}</p>
              <p class="my-1" style="font-size: 0.7rem !important;">Orden de Servicio: {{info.no_orden}}</p>
              {% if filas_media or filas_video %}
              <div class="text-center">
                <button class="btn btn-primary shadow galeria_evidencias" style="font-size: 0.7rem !important;">
                  <i class="fas fa-photo-video"></i>
                  Registro fotográfico
                </button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </dIV>
      <div class="row no-gutters">
        <div class="col col-lg-12 my-lg-2 no-gutters">
          <div class="dropdown mx-auto text-center">
            <button class="btn btn-primary btn-block py-3 dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="border-radius: revert !important; font-size: 0.8rem !important;">
              5-5
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for revision in revisiones %}
              <a class="dropdown-item nav-link {% if forloop.first %} active {% endif %}"
                id="tab_revision_{{revision.id}}" data-toggle="pill" href="#pane_revision_{{revision.id}}" role="tab"
                aria-controls="pane_revision_{{revision.id}}" aria-selected="true">{{revision.nombre}}</a>
              {% endfor %}
            </div>
            <script>
              $(".dropdown-item").click(function () {
                $("#dropdownMenuButton").text($(this).text())
                $(this).siblings().each(function (index, button) {
                  $(button).removeClass("active");
                })
              })
            </script>
          </div>
        </div>
        <div class="col col-lg-12 my-lg-2 no-gutters text-center">
          <div class="nav" id="navbar-example2">
            {% for familia in familias_items %}
            <a class="nav-link btn btn-primary btn-block rounded my-0 py-3 familia-scrollspy"
              style="width: 100%; border-radius: revert !important; font-size: 0.8rem !important; background-color: #8E1C2E !important;"
              href="#familia_scrollspy_{{familia.0|slugify}}">{{familia.0}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="tab-content">
        {% for revision in revisiones %}
        <div class="tab-pane my-3 fade revision-mazda {% if forloop.first %} show active {% endif %}"
          id="pane_revision_{{revision.id}}" role="tabpanel" aria-labelledby="tab_revision_{{revision.id}}"
          data-spy="scroll" data-target="#navbar-example2" data-revision_id="{{revision.id}}"
          style="position: relative; overflow-y: scroll; max-height: 95vh !important;">
          <div class="card shadow mx-auto">
            <div class="card-body py-2">
              {% for familia in familias_items %}
              {% if familia.1 == revision.id %}
              <div class="px-2 text-dark">
                {% if familia.0|svg_familia %}
                <img src="/static/seguimientolite_mazda_col/svg/{{familia.0|svg_familia}}" height="28px" />
                {% endif %}
                <h5 id="familia_scrollspy_{{familia.0|slugify}}" class="d-inline">{{familia.0}}</h5>
              </div>
              {% for item in lista_items %}
              {% if item.familia == familia.0 and item.revision == revision %}
              <div class="item my-4 py-3 px-3 rounded border shadow-sm">
                <div class="text-center mb-3">
                  <div class="row">
                    <div class="col text-left">
                      <h6 class="item-nombre">{{item.descripcion}}</h6>
                    </div>
                    <div class="col-2 text-right">
                      <i class="far fa-lightbulb"></i>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col">
                      {% if item.descripcion|svg_item %}
                      <div>
                        <img src="/static/seguimientolite_mazda_col/svg/{{item.descripcion|svg_item}}" height="90px" />
                      </div>
                      {% endif %}
                    </div>
                    {% if item.descripcion == "Batería" %}
                    <div class="col-7">
                      <div class="text-left">
                        <h6>Estado %: <span class="badge rounded-pill bg-light text-dark bateria-estado-bubble"></span>
                        </h6>
                      </div>
                      <div class="mazda-range text-center">
                        <datalist id="mazda-datalist{{item.id}}">
                          <option value="1"></option>
                          <option value="2"></option>
                          <option value="3"></option>
                          <option value="4"></option>
                          <option value="5"></option>
                          <option value="6"></option>
                          <option value="7"></option>
                          <option value="8"></option>
                          <option value="9"></option>
                          <option value="10"></option>
                          <option value="11"></option>
                        </datalist>
                        <input class="bateria-estado-input" type="range" min="1" max="10" step="1"
                          value="{% for guardado in items_guardados %}{% if guardado.item.id == item.id %}{{guardado.bateria_estado}}{% endif %}{% endfor %}"
                          list="mazda-datalist{{item.id}}"></input>
                      </div>

                      <div class="text-left">
                        <h6>Nivel de carga %: <span
                            class="badge rounded-pill bg-light text-dark bateria-nivel-carga-bubble"></span></h5>
                      </div>
                      <div class="mazda-range text-center">
                        <datalist id="mazda-datalist{{item.id}}">
                          <option value="1"></option>
                          <option value="2"></option>
                          <option value="3"></option>
                          <option value="4"></option>
                          <option value="5"></option>
                          <option value="6"></option>
                          <option value="7"></option>
                          <option value="8"></option>
                          <option value="9"></option>
                          <option value="10"></option>
                          <option value="11"></option>
                        </datalist>
                        <input class="bateria-nivel-carga-input" type="range" min="1" max="10" step="1"
                          value="{% for guardado in items_guardados %}{% if guardado.item.id == item.id %}{{guardado.bateria_nivel}}{% endif %}{% endfor %}"
                          list="mazda-datalist{{item.id}}"></input>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  <span class="item-id" style="display: none;">{{item.id}}</span>
                  {% if item.descripcion in items_extra_forms %}
                  <input class="form-control item-valor" type="number" placeholder="Valor Registrado"
                    {% for guardado in items_guardados %} {% if guardado.item.id == item.id %}
                    value="{{guardado.valor}}" {% endif %} {% endfor %} />
                  {% endif %}
                </div>
                <div class="row no-gutters mx-auto text-center mb-5">
                  <div class="col text-center custom-control custom-radio d-inline mx-2">
                    <input type="radio" id="custom_g_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"
                      name="customRadio_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"
                      class="item-estado custom-control-input" value="Buen Estado" {% for guardado in items_guardados %}
                      {% if guardado.item.id == item.id and guardado.estado == 'Buen Estado' %} checked {% endif %}
                      {% endfor %}>
                    <label class="custom-control-label hidecomment green"
                      for="custom_g_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"></label>
                  </div>
                  <div class="col text-center custom-control custom-radio d-inline mx-2">
                    <input type="radio" id="custom_y_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"
                      name="customRadio_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"
                      class="item-estado custom-control-input" value="Recomendado" {% for guardado in items_guardados %}
                      {% if guardado.item.id == item.id and guardado.estado == 'Recomendado' %} checked {% endif %}
                      {% endfor %}>
                    <label class="custom-control-label showcomment yellow"
                      for="custom_y_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"></label>
                  </div>
                  <div class="col text-center custom-control custom-radio d-inline mx-2">
                    <input type="radio" id="custom_r_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"
                      name="customRadio_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"
                      class="item-estado custom-control-input" value="Inmediato" {% for guardado in items_guardados %}
                      {% if guardado.item.id == item.id and guardado.estado == 'Inmediato' %} checked {% endif %}
                      {% endfor %}>
                    <label class="custom-control-label showcomment red"
                      for="custom_r_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"></label>
                  </div>
                  <div class="col text-center custom-control custom-radio d-inline mx-2">
                    <input type="radio" id="custom_b_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"
                      name="customRadio_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"
                      class="item-estado custom-control-input" value="Corregido" {% for guardado in items_guardados %}
                      {% if guardado.item.id == item.id and guardado.estado == 'Corregido' %} checked {% endif %}
                      {% endfor %}>
                    <label class="custom-control-label showcomment blue"
                      for="custom_b_{{item.id}}_{{ familia.0|slugify }}_{{ revision.id }}"></label>
                  </div>
                </div>
                <div class="row mb-3 no-gutters">
                  <div class="col-3 col-md-2" style="font-size: 0.75rem !important;">
                    <img src="/static/seguimientolite_mazda_col/img/b.png" height="15px" width="auto">
                    B: Bien
                  </div>
                  <div class="col-9 col-md" style="font-size: 0.75rem !important;">
                    <img src="/static/seguimientolite_mazda_col/img/rp.png" height="15px" width="auto">
                    RP: Requiere atención próximamente
                  </div>
                  <div class="col-8 col-md" style="font-size: 0.75rem !important;">
                    <img src="/static/seguimientolite_mazda_col/img/ri.png" height="15px" width="auto">
                    RI: Requiere corrección inmediata
                  </div>
                  <div class="col col-md-2" style="font-size: 0.75rem !important;">
                    <img src="/static/seguimientolite_mazda_col/img/c.png" height="15px" width="auto">
                    C: Corregido
                  </div>
                </div>
                <div class="mx-auto text-center mb-2 d-block" style="max-width: 540px;">
                  <input type="file" class="fp-instance" />
                </div>
                <div class="mx-auto mt-0 mb-0 pb-0 d-block" style="max-width: 540px;">
                  <textarea placeholder="Comentarios" class="form-control item-comentario"
                    rows="3">{% for guardado in items_guardados %}{% if guardado.item.id == item.id %}{{guardado.comentarios.strip}}{% endif %}{% endfor %}</textarea>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
            </div>
          </div>

          <!-- Items Adicionales Tecnico -->
          <div class="card shadow mx-auto my-4">
            <h5 class="card-header">Items Adicionales</h5>
            <div class="card-body">

              <!-- Añadir items adicionales-->
              <div class="item_adicional_nuevo_container">
              </div>

              <!-- Botón para añadir un nuevo item -->
              <div class="text-center">
                <button type="button" class="btn btn-primary shadow item_adicional_nuevo_boton">
                  <i class="fas fa-plus"></i>
                  Añadir Item
                </button>
              </div>

            </div>
          </div>

          <!-- OBSERVACIONES DE DAÑOS INFERIORES -->
          <div class="card shadow mx-auto my-4 ">
            <h5 class="card-header">PROXIMO SERVICIO</h5>
            <div class="card-body">
              <textarea placeholder="" class="form-control daños-inferiores"
                rows="1">{{comentario_inferior_guardado}}</textarea>
            </div>
          </div>

          <!-- Firma del técnico -->
          <div class="card shadow mx-auto my-4 d-none">
            <h5 class="card-header text-center">Firmar Aquí</h5>
            <div class="card-body text-center">
              <div>
                <canvas class="bg-white shadow my-4 signaturepad-sign"></canvas>
              </div>
              <div>
                <button type="button" class="btn btn-light border shadow signaturepad-clear">
                  <i class="fas fa-undo fa-lg"></i>
                  Reintentar
                </button>
              </div>
            </div>
          </div>

          <!-- GUARDADO -->
          <div class="text-center">
            <button type="button" class="btn btn-success shadow guardar-inspeccion rounded my-4">
              <i class="fas fa-save fa-lg"></i>
              Guardar Inspeccion
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Signature Pad -->
<script>
  $(function () {
    var canvas_list = document.querySelectorAll("canvas");
    window.signature_pads = [];

    canvas_list.forEach(function (canvas) {
      window.signature_pads.push(new SignaturePad(canvas));
    });

    $(".signaturepad-clear").click(function () {
      window.signature_pads.forEach(function (signature_pad) {
        signature_pad.clear();
      });
    });
  });
</script>

<!-- FILEPOND INIT -->
<script>
  const inputElements = document.querySelectorAll("input.fp-instance");
  Array.from(inputElements).forEach((inputElement) => {
    FilePond.create(inputElement);
  });
</script>

<!-- UI COMPONENTS-->
<script>
  {% comment %}
  $(".showcomment").each(function (index) {
    $(this).click(function () {
      let current_item = this.closest(".item");
      $(current_item).find(".item-comentario").fadeIn();
      $(current_item).find(".fp-instance").fadeIn();
    });
  });
  $(".hidecomment").each(function (index) {
    $(this).click(function () {
      let current_item = this.closest(".item");
      $(current_item).find(".item-comentario").fadeOut();
      $(current_item).find(".fp-instance").fadeOut();
    });
  });
  {% endcomment %}
  function edit(td) {
    td.getElementsByClassName("btn-primary")[0].style.display = "none";
    td.getElementsByClassName("btn-success")[0].style.display = "block";
    td.getElementsByClassName("btn-secondary")[0].style.display = "block";
    td.getElementsByClassName("btn-danger")[0].style.display = "block";

    td.closest("tr").getElementsByTagName("select")[0].disabled = false;
  }

  function cancel(td) {
    td.getElementsByClassName("btn-primary")[0].style.display = "block";
    td.getElementsByClassName("btn-success")[0].style.display = "none";
    td.getElementsByClassName("btn-secondary")[0].style.display = "none";
    td.getElementsByClassName("btn-danger")[0].style.display = "none";

    td.closest("tr").getElementsByTagName("select")[0].disabled = true;
  }

  function save(tr) {
    data = {};
    data.item = tr.getElementsByTagName("td")[0].innerText;
    data.estado = tr.getElementsByTagName("select")[0].value;
    data.update = true;

    $.ajax({
      type: "post",
      data: data,
      cache: false,
      headers: {
        "X-CSRFToken": Cookies.get('csrftoken')
      },
      success: function () {
        alert("Estado Actualizado");
      }
    });
  }
</script>

<!-- GUARDADO DE INSPECCION -->
<script>
  $(".guardar-inspeccion").click(function () {
    let items_totales = $(".revision-mazda.active").find(".item-estado").length;
    let items_revisados = $(".revision-mazda.active").find(".item-estado").filter(":checked").length;

    if (items_revisados == (items_totales / 4)) {
      $(".revision-mazda.active").find(".item").each(function () {
        let data = {};
        let item = this;

        // OBTENCION DE DATOS DE ITEM
        data.inspeccion = true;
        data.id_item = $(item).find(".item-id").first().text();
        data.estado = $(item).find(".item-estado:checked").first().val();
        data.comentario = $(item).find(".item-comentario").first().val();

        // REVISAR SI HAY VALORES QUE MEDIR
        try {
          data.valor = $(item).find(".item-valor").first().val()
        } catch (error) {
          data.valor = false
        }

        //Caso para item "bateria"
        if ($(item).find(".bateria-estado-input").length) {
          data.bateria_estado = Number($(item).find(".bateria-estado-input").val()) * 10;
          data.bateria_nivel = Number($(item).find(".bateria-nivel-carga-input").val()) * 10;
        }

        // OBTENCION DE EVIDENCIA DEL ITEM Y CODIGOS DE FILEPOND
        let files = $(item).find(".fp-instance").first().filepond("getFiles")
        let lista_fp = new Array;
        let lista_ev = new Array;
        $(files).each(function () {
          lista_fp.push(String(this.serverId));
        });
        $(files).each(function () {
          lista_ev.push(String(this.filename));
        });

        data.fp_id = lista_fp
        data.evidencias = lista_ev

        console.log(data)
        $.ajax({
          type: "post", // "post" "get" "delete" "put"
          data: data, // PREFERIBLEMENTE JSON
          cache: false,
          headers: {
            "X-CSRFToken": Cookies.get('csrftoken')
          }
        });
      })
        .promise()
        .done(function () {
          data = {};
          data.observaciones = true;
          data.comentario_inferior = $(".daños-inferiores").first().val()
          data.sintoma = $(".diagnostico-sintoma").first().val()
          data.componente = $(".diagnostico-componente").first().val()
          data.raiz = $(".diagnostico-causa-raiz").first().val()

          window.signature_pads.forEach(signature_pad => {
            if (!signature_pad.isEmpty()) {
              data.firma = signature_pad.toDataURL();
            }
          });

          $.ajax({
            type: "post", // "post" "get" "delete" "put"
            data: data, // PREFERIBLEMENTE JSON
            cache: false,
            headers: {
              "X-CSRFToken": Cookies.get('csrftoken')
            },
            success: function () {
              let data = {};
              data.items_adicionales_nuevos = true;
              let items = [];

              $(".revision-mazda.active").find(".item-adicional-nuevo").each(function (index, element) {
                let item = {};
                item.nombre = $(element).find(".item-nombre").val();
                item.estado = $(element).find(".item-estado:checked").val();
                item.comentarios = $(element).find(".item-comentario").val();
                item.revision_id = $(".revision-mazda.active").data("revision_id")

                let files = $(element).find(".fp-instance").first().filepond("getFiles")
                let lista_fp = new Array;
                let lista_ev = new Array;
                $(files).each(function () {
                  lista_fp.push(String(this.serverId));
                });
                $(files).each(function () {
                  lista_ev.push(String(this.filename));
                });

                item.fp_id = lista_fp;
                item.evidencias = lista_ev;

                items.push(item);
              })

              data.items = JSON.stringify(items)

              $.ajax({
                type: "post",
                data: data,
                cache: false,
                headers: {
                  "X-CSRFToken": Cookies.get('csrftoken')
                },
                success: function () {
                  console.log("Items adicionales guardados")
                  alert("Inspeccion guardada")
                  location.reload();
                }
              });
            }
          });
        })
    } else {
      alert("Por favor, verifique el estado de cada item")
    }
  })
</script>

<!--LIGHT GALLERY-->
<script>
  $('.galeria_evidencias').on('click', function () {
    $(this).lightGallery({
      share: false,
      dynamic: true,
      dynamicEl: [
        {% for ev in filas_media %}
          {
        "src": '/media/{{ev.evidencia}}',
        'thumb': '/media/{{ev.evidencia}}',
        'subHtml': '<h4>{{ev.item.item.descripcion}}</h4>'
      },
      {% endfor %}
        {% for ev in filas_video %}
  {
    'html': '<video class="lg-video-object lg-html5" controls preload="none"><source src="/media/{{ev.evidencia}}"></video>',
      'thumb': '/media/{{ev.evidencia}}',
        'subHtml': '<h4>{{ev.item.item.descripcion}}</h4>'
  }
  {% endfor %}
      ]
    })
  });
</script>

<script>
  $(".bateria-estado-input").change(function () {
    let val = Number($(this).val());
    $(".bateria-estado-bubble").text(val * 10);
  })
  $(".bateria-nivel-carga-input").change(function () {
    let val = Number($(this).val());
    $(".bateria-nivel-carga-bubble").text(val * 10);
  })

  $(function () {
    let val = Number($(".bateria-estado-input").val());
    $(".bateria-estado-bubble").text(val * 10);
  })
  $(function () {
    let val = Number($(".bateria-nivel-carga-input").val());
    $(".bateria-nivel-carga-bubble").text(val * 10);
  })
</script>

<!-- Nuevos Items -->
<script>
  var NUEVOS_ITEMS_COUNTER = 0;

  $(".item_adicional_nuevo_boton").click(function () {
    $(".revision-mazda.active").find(".item_adicional_nuevo_container").append(`
    <div class="item-adicional-nuevo my-4 py-3 px-3 rounded border shadow-sm">
      <div class="text-center mb-3">
        <div class="row">
          <div class="col text-left">
            <input type="search" class="form-control item-nombre" list="items_adicionales_${NUEVOS_ITEMS_COUNTER}" placeholder="Nombre del Item" /></label>
            <datalist id="items_adicionales_${NUEVOS_ITEMS_COUNTER}">
              {% for item_adicional in items_adicionales %}
              <option value="{{item_adicional.descripcion}}">{{item_adicional.descripcion}}</option>
              {% endfor %}
            </datalist>
            <div class="text-center">
              <button class="btn btn-danger btn-sm mt-2 item-adicional-nuevo-boton-borrar">Borrar</button>
            </div>
          </div>
          <div class="col-2 text-right">
            <i class="far fa-lightbulb"></i>
          </div>
        </div>
        <hr>

      </div>
      <div class="row no-gutters mx-auto text-center mb-5">
        <div class="col text-center custom-control custom-radio d-inline mx-2">
          <input id="custom_g_${NUEVOS_ITEMS_COUNTER}" type="radio" name="item_adicional_nuevo_${NUEVOS_ITEMS_COUNTER}" class="item-estado custom-control-input" value="Buen Estado">
          <label class="custom-control-label hidecomment green" for="custom_g_${NUEVOS_ITEMS_COUNTER}"></label>
        </div>
        <div class="col text-center custom-control custom-radio d-inline mx-2">
          <input id="custom_y_${NUEVOS_ITEMS_COUNTER}" type="radio" name="item_adicional_nuevo_${NUEVOS_ITEMS_COUNTER}" class="item-estado custom-control-input" value="Recomendado">
          <label class="custom-control-label showcomment yellow" for="custom_y_${NUEVOS_ITEMS_COUNTER}"></label>
        </div>
        <div class="col text-center custom-control custom-radio d-inline mx-2">
          <input id="custom_r_${NUEVOS_ITEMS_COUNTER}" type="radio" name="item_adicional_nuevo_${NUEVOS_ITEMS_COUNTER}" class="item-estado custom-control-input" value="Inmediato">
          <label class="custom-control-label showcomment red" for="custom_r_${NUEVOS_ITEMS_COUNTER}"></label>
        </div>
        <div class="col text-center custom-control custom-radio d-inline mx-2">
          <input id="custom_b_${NUEVOS_ITEMS_COUNTER}" type="radio" name="item_adicional_nuevo_${NUEVOS_ITEMS_COUNTER}" class="item-estado custom-control-input" value="Corregido">
          <label class="custom-control-label showcomment blue" for="custom_b_${NUEVOS_ITEMS_COUNTER}"></label>
        </div>
      </div>
      <div class="row mb-3 no-gutters">
        <div class="col-3 col-md-2" style="font-size: 0.75rem !important;">
          <img src="/static/seguimientolite_mazda_col/img/b.png" height="15px" width="auto">
          B: Bien
        </div>
        <div class="col-9 col-md" style="font-size: 0.75rem !important;">
          <img src="/static/seguimientolite_mazda_col/img/rp.png" height="15px" width="auto">
          RP: Requiere atención próximamente
        </div>
        <div class="col-8 col-md" style="font-size: 0.75rem !important;">
          <img src="/static/seguimientolite_mazda_col/img/ri.png" height="15px" width="auto">
          RI: Requiere corrección inmediata
        </div>
        <div class="col col-md-2" style="font-size: 0.75rem !important;">
          <img src="/static/seguimientolite_mazda_col/img/c.png" height="15px" width="auto">
          C: Corregido
        </div>
      </div>
      <div class="mx-auto text-center mb-2 d-block" style="max-width: 540px;">
        <input id="item_adicional_nuevo_fp_${NUEVOS_ITEMS_COUNTER}" type="file" class="fp-instance" />
      </div>
      <div class="mx-auto mt-0 mb-0 pb-0 d-block" style="max-width: 540px;">
        <textarea placeholder="Comentarios" class="form-control item-comentario" rows="3"></textarea>
      </div>
    </div>
    `)
    let filepond_item_adicional = document.getElementById(`item_adicional_nuevo_fp_${NUEVOS_ITEMS_COUNTER}`);
    FilePond.create(filepond_item_adicional);

    NUEVOS_ITEMS_COUNTER += 1;
  });

  $(document).on("click", ".item-adicional-nuevo-boton-borrar", function () {
    let item_adicional_nuevo = $(this).parents(".item-adicional-nuevo");
    $(item_adicional_nuevo).fadeOut(300, $(item_adicional_nuevo).remove());
  })
</script>
{% endblock %}
{% block tecnico-foot %}
{% endblock %}
