{% extends "citas_mazda_col_pro/base.html" %}
{% block content %}
<slide>
  <!-- Authorization -->
  {% include "citas_mazda_col_pro/carousel/1_authorization.html" %}
</slide>
<slide>
  <!-- Vehicle information 1 -->
  {% include "citas_mazda_col_pro/carousel/2_vehicle_information.html" %}
</slide>
<slide>
  <!-- Vehicle information 2 -->
  {% include "citas_mazda_col_pro/carousel/3_vehicle_information.html" %}
</slide>
<slide>
  <!-- Pickup Information -->
  {% include "citas_mazda_col_pro/carousel/4_pickup_information.html" %}
</slide>
<slide>
  <!-- Service Request 1 -->
  {% include "citas_mazda_col_pro/carousel/5_service_request.html" %}
</slide>
<slide>
  <!-- Service Request 2 -->
  {% include "citas_mazda_col_pro/carousel/6_service_request.html" %}
</slide>
<slide>
  <!-- Service Request 2 -->
  {% include "citas_mazda_col_pro/carousel/7_service_request_summary.html" %}
</slide>
<slide>
  <!-- Service Request 2 -->
  {% include "citas_mazda_col_pro/carousel/7_waiting_room.html" %}
</slide>
<slide>
  <!-- Service Request 3 -->
  {% include "citas_mazda_col_pro/carousel/8_schedule_appointment.html" %}
</slide>
<slide>
  <!-- Service Request 4 -->
  {% include "citas_mazda_col_pro/carousel/9_email_notification.html" %}
</slide>
{% endblock %}
