{% extends 'tracker_pro_mazda_col/base.html' %} {% block content %} {% load static %}

<div class="mx-auto my-auto">
  <div class="row">
    <div class="col-lg-7 col-md-8 col-sm mx-auto">
      <div class="card bg-white my-4 my-lg-5 mx-auto shadow">
        <div class="card-body">
          <h4 class="text-center mb-3"><i class="fas fa-bug fa-lg"></i></h4>
          <h4 class="text-center mb-3">Tuvimos un problema procesando su solicitud</h4>
          <p class="lead text-center">Por favor intentelo mas tarde</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
